/*Calculator*/

#frame 
{
    height: 600px;
    width: 400px;
    background-color: black;
    border: 10px solid orange;
    border-radius: 15px;
    margin: 20px auto;
}


#display 
{
    height: 70px;
    width:370px;
    margin: 10px;
}


#keys
{
    height: 450;
    width: 400;
    padding-top: 35px;
    margin-left: 13px;
}

button
{
    border-radius: 50px;
    width: 90px;
    height: 90px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(99, 99, 99);
    color: white;
}

button:hover
{
    background-color: rgb(85, 85, 85);
}

button:active
{
    background-color: rgb(140, 140, 140);
}

.operator 
{
    background-color: orange;
}

.operator:hover 
{
    background-color: rgb(255, 120, 0);
}

.operator:active 
{
    background-color: rgb(255, 200, 0);
}