/*Calculator*/

#frame 
{
    height: 600px;
    width: 400px;
    background-color: black;
    border: 10px solid orange;
    border-radius: 15px;
    margin: 20px auto;
}


#keys
{
    height: 450;
    width: 400;
    margin-top: 150px;
    margin-left: 13px;
}

#keys button
{
    border-radius: 50px;
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: rgb(99, 99, 99);
    color: white;
}

#keys button:hover
{
    background-color: rgb(85, 85, 85);
}

#keys button:active
{
    background-color: rgb(140, 140, 140);
}
